:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;

  flex: 1;
}

.detail {
  font: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 75em) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 75em) {
  .side-nav {
    display: flex;
    margin: 0;
  }
}

@media screen and (max-width: 75em) {
  .legal {
    display: none;
  }
}

@media screen and (max-width: 75em) {
  .side-nav {
    display: flex;
    margin: 0;
  }
}

@media screen and (max-width: 75em) {
  .side-nav__item {
    flex: 1;
  }
}
@media screen and (max-width: 75em) {
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
}

@media screen and (max-width: 75em) {
  .side-nav__link,
  .side-nav__visited {
    justify-content: center;
    padding: 2rem;
  }
}

@media screen and (max-width: 75em) {
  .detail {
    padding: 2rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 75em) {
  .review {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 75em) {
  .cta {
    padding: 2.5rem 0;
  }
}

@media screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
  }
}

@media screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 37.5em) {
  .side-nav__link:link,
  .side-nav__link:visited {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
  }
}
@media screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0;
    margin-bottom: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }
}

@media screen and (max-width: 37.5em) {
  .overview__rating-average {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 37.5em) {
  .overview__rating {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 37.5em) {
  .overview__rating-count {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 31.25em) {
  .header {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

@media screen and (max-width: 31.25em) {
  .search {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
}
